<!DOCTYPE html>
<html lang="en">
<head>
	<!-- head and foot with styles and js -->
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Pacifico|Shadows+Into+Light" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Create  Menu</title>
</head>

<body>

	{{{ body }}}

	<footer class="menuFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2018 Reed Fisher</span>
			</div>
		</div>
	</footer>
</body>
</html>
